.page-header
  %h1=t '.title', :default => "Clips"

  
%div{'ng-app' => 'MediaApp', 'ng-controller' => 'MediaController', 'ng-init' => "init(#{@clips_json})", 'id' => 'media_app'}

  %tags-input{'ng-model' => 'tags', 'on-tag-added' => 'refresh_list()', 'on-tag-removed' => 'refresh_list()'}

  %table.table.table-striped
    %thead
      %tr
        %th Id
        %th Title

    %tbody{'ng-if' => '!loading'}
      %tr{'ng-repeat' => 'clip in clips', }
        %td
          {{clip.id}}
        %td
          {{clip.title}}


    #loading-gif{'ng-if' => 'loading'}
      %h3 loading...
