.page-header
  %h1=t '.title', :default => "Clips"

  
%div{'ng-app' => 'MediaApp', 'ng-controller' => 'MediaController', 'ng-init' => "init(#{@clips_json})"}

  %tags-input{'ng-model' => 'tags'}

  %table.table.table-striped
    %thead
      %tr
        %th Id
        %th Title

    %tbody
      %tr{'ng-repeat' => 'clip in clips'}
        %td
          {{clip.id}}
        %td
          {{clip.title}}

